body {
    background: #000;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    margin: 0 5px;
    animation: moveup 0.6s linear infinite alternate;
}

@keyframes moveup {
    100% {
        transform: translateY(-25px);
    }

}

.loader span:nth-last-child(2) {
    animation-delay: 0.25s;
}


.loader span:nth-last-child(3) {
    animation-delay: 0.5s;
}